.bg-why-us {
  background: url("../assets/images/bg_why_1.jpg") no-repeat;
  background-position: center;
  background-size: cover !important;
  background-attachment: fixed;
  z-index:2;
}

.msg{
  visibility: hidden;
  opacity: 0;
}
.msg.visible{
  visibility: visible;
  transform: translateY(0) scale(1);
}